
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
@font-face {
  font-family: "Geist";
  src: url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap');
}
body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

body {
  font-family: "Geist", Arial, sans-serif;
}


/* for Gallery */
.small-icon-t{
  color:#383838;
  transition: all .1s ease;
}
.small-icon-t:focus{
  scale: 95;
}
.small-icon-a:focus{
  scale: 95;
}
.small-icon-t:hover{
  color:#ff4242
}
.small-icon-a{
  color:#383838;
  transition: all .1s ease;
}
.small-icon-a:hover{
  color:#1573FD
}

.icon-container{
  display: flex;
  align-items: center;
  gap: 4;
}

